{
  "presets": ["es2015", "react", "airbnb"],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "imports": "./src/imports"
      }
    }]
  ]
}
